<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>APART-HOTEL AIFOS</h1> 
			<hr class="light wow fadeInLeft"> 
			<h1 class="wow fadeInLeft">¡VIVÍ LA FINAL DE LA COPA SUDAMERICANA EN ASUNCIÓN!</h1>
			<hr class="light wow fadeInLeft" data-wow-offset="-50" data-wow-delay="1s">
            <p class="wow fadeInLeft" data-wow-offset="-50" data-wow-delay="1s">Ofrecemos alojamiento para aquellos que quieran visitar la ciudad de Asunción, Paraguay con el fin de presenciar la final del torneo CONMEBOL Sudamericana 2024 que se disputará en el estadio de La Nueva Olla.</p>
            <a href="#home" class="btn btn-primary btn-xl page-scroll wow bounceIn" data-wow-offset="-150" data-wow-delay="2s">Descubre más</a>
        </div>
    </div>
</header>
