<section class="bg-primary" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¡Siéntase como en casa!</h2>
                <hr class="light">
                <p class="text-faded">Ubicado en Jacinto Herrera, dentro del barrio Pa'i Ñu, Apart-Hotel AIFOS ofrece hospitalidad para aquellos que estén de visita por la ciudad de Asunción. Con agradables habitaciones y una buena entrega de los servicios, nosotros haremos de su estadía una experiencia reconfortante.</p>
				<p class="text-faded">El precio de alojar una habitación es de Gs. 300.000 por día y por persona.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll wow bounceIn">Reservar ahora</a>
            </div>
        </div>
    </div>
</section>
